<a href="https://colab.research.google.com/github/GDharan10/Dataset13_salaries/blob/main/salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

#Connections
from google.colab import drive

# **Connections**

In [2]:
#Google drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Loading dataset**

In [5]:
#Google drive
file_path = '/content/drive/My Drive/DTM15/Dataset/salaries.csv'
df = pd.read_csv(file_path)

In [7]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,SE,FT,AI Engineer,90000,USD,90000,AE,0,AE,L
1,2024,SE,FT,Machine Learning Engineer,180500,USD,180500,US,0,US,M
2,2024,SE,FT,Machine Learning Engineer,96200,USD,96200,US,0,US,M
3,2024,SE,FT,Machine Learning Engineer,235000,USD,235000,AU,0,AU,M
4,2024,SE,FT,Machine Learning Engineer,175000,USD,175000,AU,0,AU,M

# **DataFrame observation**

In [10]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [13]:
df['work_year'].unique()

array([2024, 2023, 2022, 2020, 2021])

In [12]:
df['experience_level'].unique()

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

In [14]:
df['employment_type'].unique()

array(['FT', 'CT', 'PT', 'FL'], dtype=object)

In [ ]:
df['job_title'].unique()

In [16]:
df['salary_currency'].unique()

array(['USD', 'EUR', 'GBP', 'CHF', 'CAD', 'NZD', 'AUD', 'INR', 'PLN',
       'BRL', 'PHP', 'TRY', 'NOK', 'JPY', 'ZAR', 'HKD', 'SGD', 'ILS',
       'THB', 'HUF', 'DKK', 'MXN', 'CLP'], dtype=object)

In [17]:
df['employee_residence'].unique()

array(['AE', 'US', 'AU', 'UA', 'LT', 'CA', 'GB', 'NL', 'EG', 'AT', 'DE',
       'ES', 'PH', 'FI', 'TR', 'CH', 'OM', 'NZ', 'FR', 'MX', 'PT', 'BA',
       'BR', 'AR', 'LV', 'ZA', 'IT', 'IN', 'IE', 'EE', 'MT', 'HR', 'LB',
       'RO', 'HU', 'VN', 'NG', 'PL', 'CZ', 'PK', 'UG', 'CO', 'SI', 'GR',
       'MU', 'AM', 'TH', 'KR', 'QA', 'RU', 'KE', 'TN', 'GH', 'BE', 'AD',
       'EC', 'PE', 'MD', 'SA', 'NO', 'UZ', 'GE', 'JP', 'HK', 'CF', 'IL',
       'SG', 'SE', 'KW', 'CY', 'IR', 'AS', 'CN', 'CR', 'CL', 'PR', 'DK',
       'BO', 'DO', 'ID', 'MY', 'HN', 'DZ', 'IQ', 'BG', 'JE', 'RS', 'LU'],
      dtype=object)

In [18]:
df['remote_ratio'].unique()

array([  0, 100,  50])

In [19]:
df['company_location'].unique()

array(['AE', 'US', 'AU', 'UA', 'LT', 'CA', 'GB', 'NL', 'EG', 'AT', 'DE',
       'ES', 'PH', 'FI', 'TR', 'CH', 'OM', 'NZ', 'FR', 'MX', 'PT', 'BA',
       'BR', 'AR', 'LV', 'ZA', 'IT', 'AS', 'IE', 'EE', 'IN', 'MT', 'HU',
       'LB', 'RO', 'VN', 'NG', 'PL', 'LU', 'GI', 'CO', 'SI', 'GR', 'MU',
       'RU', 'KR', 'CZ', 'QA', 'KE', 'DK', 'GH', 'SE', 'AD', 'EC', 'IL',
       'SA', 'NO', 'JP', 'HK', 'CF', 'SG', 'TH', 'HR', 'AM', 'PK', 'IR',
       'BS', 'PR', 'BE', 'ID', 'MY', 'HN', 'DZ', 'IQ', 'CN', 'CL', 'MD'],
      dtype=object)

In [20]:
df['company_size'].unique()

array(['L', 'M', 'S'], dtype=object)

In [ ]:
# Dependent - salary_in_usd

continuous_columns = ['salary', 'salary_in_usd']
category_columns = ['work_year', 'experience_level', 'employment_type', 'job_title',
                    'salary_currency', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']

#Supervised Regression